# Diese Datei wird automatisch aus der pyproject.toml generiert
# siehe: pip install -e . oder pyproject.toml [dependencies]

# Datenhandling
pandas~=2.3.1  # main package for data handling
xlrd~=2.0.2 # for reading excel files
openpyxl~=3.1.2  # for reading/writing xlsx excel files
# PyYAML~=6.0.3  # for reading yaml files
ruamel-yaml~=0.18.16  # for reading/writing yaml files with comments
cryptography~=46.0.3  # for secure pw handling
# numpy
# pdfplumber


# build
# setuptools
# build

# Web scraping
selenium~=4.36.0
# undetected_chromedriver
# webdriver-manager

# Gui
# pyqt5  # old package
# pyqt6  # for GUI
# pyqt6-tools  # for GUI design

# Image processing - OCR
# opencv-python
# easyocr
# matplotlib

#--extra-index-url https://pypi.ngc.nvidia.com
#nvidia-pyindex
#nvidia-cuda-runtime-cu12

# pytesseract

# Standard packages
# pip~=24.3.1
# wheel~=0.45.1
# setuptools~=75.7.0
